.product-details-container {
    width: 1500px;
    max-width: 95%;
    margin: 0 auto;
}
.related-products-container {
    h3 {
      color: #000;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .related-products {
      margin-bottom: 100px;
    }
  }
  