<footer class="footer">
    <div class="f-section">
        <h4>Toolify</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et</p>
    </div>
    <div class="s-section">
        <span>Location</span>
        <ul>
            <li><a href="">Cairo</a></li>
            <li><a href="">Giza</a></li>
            <li><a href="">Alex</a></li>
            <li><a href="">Menofia</a></li>
        </ul>
    </div>
    <div class="t-section">
        <span>Site Pages</span>
        <ul>
            <li>About us</li>
            <li>Terms of service</li>
            <li>Privacy policy</li>
        </ul>
    </div>
    <div class="follow-section">
        <span>FOLLOW US</span>
        <ul>
            <li><a href=""><img src="../../../../assets/icons/facebook.svg" alt=""></a></li>
            <li><a href=""><img src="../../../../assets/icons/twitter_X.svg" alt=""></a></li>
            <li><a href=""><img src="../../../../assets/icons/instagram.svg" alt=""></a></li>
            <li><a href=""><img src="../../../../assets/icons/youtupe.svg" alt=""></a></li>
        </ul>
    </div>
    
</footer>