<div class="account-container">
    <div class="account-data">
      <div class="name-container">
        <span>Name</span>
        <span>Reem Hazem sayed</span>
      </div>
      <div class="National-id-container">
        <span>National Id</span>
        <span>01123180418</span>
      </div>
      <div class="email-container">
        <span>Email</span>
        <span>reemhazem&#64;gmail.com</span>
      </div>
      <div class="Location-container">
        <span>Location</span>
        <span>cairo</span>
      </div>
      <div class="phone-container">
        <span>Phone Number</span>
        <span>01123180418</span>
      </div>
      <div class="birth-date-container">
        <span>Birth Date</span>
        <span>17/7/2002</span>
      </div>
    </div>
  </div>
  