<div class="product-list-body pb-5">
    <div class="container">
        <div class="filter">
            <div class="result-of-search">29369 search results</div>
            <div class="filter-bar">
              <span class="result-of-search">price</span>
              <div class="price-bar">
                  <input
                    type="range"
                    [(ngModel)]="selectedPrice"
                    (input)="onPriceChange($event)"
                    [min]="minPrice"
                    [max]="maxPrice"
                  />
                  <div class="price">
                    <span class="min-price">{{ minPrice }}</span>
                    <span class="max-price">{{ maxPrice }}</span>
                  </div>
                  <div
                    class="selected-price"
                    [ngStyle]="{ 'left.%': selectedPricePosition }"
                  >
                    {{ selectedPrice }}
                  </div>
              </div>
              <div class="location">
                  <p-dropdown [options]="cities" [(ngModel)]="selectedCity" [filter]="true" filterBy="name" optionLabel="name" [showClear]="true" placeholder="Select a City"></p-dropdown>
              </div>
            </div>
        </div>
        <div class="product-list">
            <div class="product" *ngFor="let product of products">
                <app-product-card [product] = "product"></app-product-card>
            </div>
        </div>
    </div>
</div>